html {
    background-color: #151515;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

footer {
    color: whitesmoke;
}

/* NAVBAR */

.primary-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: background-color 0.5s;
}

.container {
    max-width: 120rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.navbar {
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    transition: height 0.25s;
}

.logo {
    transition: color .25s;
    font-size: 2.4rem;
    font-weight: 900;
    color: #c9c9c9;
    text-decoration: none;
}

.logo:hover {
    color: #eaeaea;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    margin-left: 5rem;
    margin-right: auto;
}

.nav-link {
    transition: color .25s;
    text-decoration: none;
    color: #c9c9c9;
}

.nav-link:hover {
    color: #eaeaea;
}

.translate {
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 0.8rem;
    border-radius: 2rem;
    transition: background-color 0.25s;
    border-color: transparent;
    font-size: 1rem;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
}

.translate:hover {
    background-color: #d3d3d3;
}

header.active {
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

header.active .navbar {
    height: 6rem;
}

header.active .logo, header.active .nav-link {
    color: #313131;
}

header.active .nav-link:hover {
    color: #808080;
}

header.active .translate {
    background-color: #313131;
    color: #fff;
}

header.active .translate:hover {
    background-color: #151515;
}