@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

:root {
    --color-theme: linear-gradient(rgb(255, 255, 142) 0%, rgb(255, 135, 92) 50%, rgb(255, 62, 175) 100%);
    --background-theme: rgb(1, 1, 51);
}

html {
    background-color: var(--background-theme);
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    width: 100vw;
    height: 13vh;
}

.menu-container {
    display: flex;
    align-items: center;
}

#profileImg {
    margin-left: 10px;
    /* margin-top: 10px; */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(/images/profile-picture.jpg);
    background-size: cover;
}

header h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Honk', sans-serif;
}

/*! HAMBURGER */

.menu-btn {
    cursor: pointer;
    padding: 10px;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.bar {
    width: 26px; /* Augmenter la largeur des barres */
    height: 4px; /* Augmenter la hauteur des barres */
    background-color: #fff;
    margin: 6px 0;
    transition: 0.3s;
}

.menu-btn.active .bar:nth-child(1) {
    background-color: #fff;
    transform: rotate(-45deg) translate(-6.8px, 7.5px);
    width: 28px;
}

.menu-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-btn.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6.8px, -7.5px);
    width: 28px;
}

.side-menu {
    width: 0;
    height: 100vh;
    background-color: var(--background-theme);
    overflow-x: hidden;
    transition: 0.5s;
    position: fixed;
    width: 250px;
    right: -250px;
    z-index: 1;
    padding-top: 60px;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px 0 0 0;
}

.side-menu a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Honk', sans-serif;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    background: var(--color-theme);
}

#home {
    border-radius: 5px 0 0 0;
}

#contactMe {
    border-radius: 0 0 0 5px;
}

#content1 {
    flex-grow: 1;
}

#content2 {
    flex-grow: 1;
}

#content3 {
    flex-grow: 1;
    padding: 2%;
}

#place {
    font-family: 'Honk', sans-serif;
    text-align: center;
    font-size: large;
}

.bande1 {
    background: linear-gradient(rgb(255, 255, 142) 0%, rgb(255, 135, 92) 50%, rgb(255, 62, 175) 100%);
    height: 80px;
    width: 100%;
    box-shadow: 0px 7px 20px 5px;
}

.bande1 h2 {
    padding-top: 12.5px;
    font-family: Anta, sans-serif;
    text-align: center;
    font-size: 40px;
    color: var(--background-theme);
}

#content {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Honk', sans-serif;
    font-size: large;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.links a {
    padding-top: auto;
    text-decoration: none;
    color: var(--color-theme);
    font-size: 35px;
    transition: 0.3s;
    font-family: Anta, sans-serif;
}

.links a:hover {
    scale: 1.1;
}

/*! NEONS */

.neon1 {
    flex: 1;
    margin: -10px 290px;
    border-radius: 5px;
    width: 280px;
    height: 10px;
    background-color: rgb(255, 2, 213);
    filter: drop-shadow(0px 0px 10px rgb(255, 2, 213));
    transform: rotate(-60deg);
    animation: neon 2s ease-in-out infinite alternate;
}

.neon2 {
    flex: 1;
    margin: 0 490px;
    border-radius: 5px;
    width: 280px;
    height: 10px;
    background-color: rgb(1, 254, 83); 
    filter: drop-shadow(0px 0px 10px rgb(1, 254, 83));
    transform: rotate(60deg);
    animation: neon 2s ease-in-out infinite alternate;
}

.neon3 {
    flex: 1;
    margin: 160px 390px;
    border-radius: 5px;
    width: 280px;
    height: 10px;
    background-color: rgb(0, 126, 245);
    filter: drop-shadow(0px 0px 10px rgb(0, 126, 245));
    animation: neon 2s ease-in-out infinite alternate;
}

.neons {
    display: flex;
    transform: rotate(35deg);
    z-index: 0;
}

@keyframes neon {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 20px;
    }
    #content p, #myself {
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    #content {
        padding: 20px;
    }
}