:root {
    --first: #132A13;
    --second: #31572C;
    --third: #4F772D;
    --fourth: #90A955;
    --fifth: #ECF39E;
    --background-color: #16252C;
}

html {
    background-color: var(--fifth);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    width: 100vw;
    height: 13vh;
}

.menu-container {
    display: flex;
    align-items: center;
    background-color: var(--first);
}

#profileImg {
    margin-left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(/images/profile-picture.jpg);
    background-size: cover;
}

header h1 {
    animation: scaleEffect 5s infinite;
    font-size: 50px;
    text-align: center;
    color: var(--fifth);
}

@keyframes scaleEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/*! HAMBURGER */

.menu-btn {
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: var(--first);
    border-radius: 0 0 0 5px;
}

.bar {
    width: 26px; /* Augmenter la largeur des barres */
    height: 4px; /* Augmenter la hauteur des barres */
    background-color: var(--fifth);
    margin: 6px 0;
    transition: 0.3s;
}

.menu-btn.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6.8px, 7.5px);
    width: 28px;
}

.menu-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-btn.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6.8px, -7.5px);
    width: 28px;
}

.side-menu {
    width: 0;
    height: 100vh;
    background-color: var(--second);
    overflow-x: hidden;
    transition: 0.5s;
    position: fixed;
    width: 250px;
    right: -250px;
    z-index: 1;
    padding-top: 60px;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px 0 0 0;
}

.side-menu a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: var(--fifth);
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    background: var(--first);
}

#home {
    border-radius: 5px 0 0 0;
}

#contactMe {
    border-radius: 0 0 0 5px;
}

#content1 {
    flex-grow: 1;
}

#content2 {
    flex-grow: 1;
}

#content3 {
    flex-grow: 1;
    padding: 2%;
}

#bande {
    background-color: var(--second);
    height: 80px;
    width: 100%;
    margin-top: 60px;
    box-shadow: 0px 7px 20px 5px var(--first);
}

#bande h2 {
    padding-top: 12.5px;
    text-align: center;
    font-size: 40px;
    color: var(--fifth);
    padding-top: 20px;
}

#place {
    text-align: center;
    font-size: large;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.links a {
    text-decoration: none;
    color: var(--fifth);
    font-size: 35px;
    transition: 0.3s;
    font-family: Anta, sans-serif;
}

.links a:hover {
    scale: 1.1;
}

/*! RESPONSIVE */

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 20px;
    }
    #content p, #myself {
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    #content {
        padding: 20px;
    }
}